{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}

<h1 class="page-title">Pipeline results</h1>

<div class="results-table">
    <div class="table-header">Pipeline</div>
    <div class="table-header">Mesa SHA</div>
    <div class="table-header">Status</div>
</div>

{% for p in pipeline_results %}
<div class="results-table">
    <div class="table-cell">
        <a href="{{p.url}}">{{p.id}}</a>
    </div>
    <div class="table-cell">
        <a href="{{p.mesa_url}}">{{ p.mesa_sha | slice:":10" }}</a>
    </div>
    <div class="status-cell-container">
        {% for j in p.job_results.all %}
        <div class="{{j.status}} status-cell">
            <a class="result" href="{% url 'job' j.project_path j.id %}">{{j.device}}</a>
            <img class="status" src="{% static 'images/'|add:j.status|add:'.png' %}">
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}